<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Octocite</h1>
    <p>Generate your citations in MLA, APA, or Chicago for free!</p>
    <small style="font-size: 75%; bottom: 0;" class="text-muted">Created by Leonard Liu, Noah Curran, Ryan Chen, and Shreyas Iyengar. Logo art by Kallista Zhang.</small>
  </div>
</div>
<div class="container" style="padding-top: 45px; padding-bottom: 45px">
  <h1>Generate book citations</h1>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #citForm="ngForm">
      <div class="form-group">
        <p>Choose citation style:</p>
        <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="typeString">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> MLA
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="2"> APA
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="3"> Chicago
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Author First Name*</label>
        <input type="text" class="form-control" id="authorFirstName" [(ngModel)]="authorFirstName" name="authorFirstName" required>
      </div>
      <div class="form-group">
        <label>Author Last Name*</label>
        <input type="text" class="form-control" id="authorLastName" [(ngModel)]="authorLastName" name="authorLastName" required>
      </div>
      <div class="form-group">
        <label>Source Title*</label>
        <input type="text" class="form-control" id="sourceTitle" required [(ngModel)]="sourceTitle" name="sourceTitle">
      </div>
      <div class="form-group">
        <label>Source Container</label>
        <input type="text" class="form-control" id="sourceContainer" placeholder="Such as an album, collection of short stories, TV show, etc" [(ngModel)]="sourceContainer" name="sourceContainer">
      </div>
      <div class="form-group">
        <label>Version Number</label>
        <input type="text" class="form-control" id="version" [(ngModel)]="version" name="version">
      </div>
      <div class="form-group">
        <label>Publisher Name*</label>
        <input type="text" class="form-control" id="publisher" [(ngModel)]="publisher" name="publisher" required>
      </div>
      <div class="form-group">
        <label>Publication Date*</label>
        <input type="text" class="form-control" id="pubDate" [(ngModel)]="pubDate" name="pubDate" required>
      </div>
      <div class="form-group">
        <label>Location of Publication*</label>
        <input type="text" class="form-control" id="pubLoc" [(ngModel)]="pubLoc" name="pubLoc" required>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!citForm.form.valid">Submit</button>
    </form>
  </div>
  <div [hidden]="!submitted">
    <div [hidden]="!_mla">
      <h2>MLA Style:</h2>
      <p>{{ authorLastName }}, {{ authorFirstName }}. <i>{{ sourceTitle }}.</i> {{ pubLoc }}: {{ publisher }}, {{ pubDate }}.</p>
      <button type="button" class="btn btn-primary" (click)="retry()">Cite another source.</button>
    </div>
    <div [hidden]="!_apa">
      <h2>APA Style:</h2>
      <p>{{ authorLastName }}, {{ authorFirstName.charAt(0) }}. ({{ pubDate }}). <i>{{ sourceTitle }}.</i> {{ pubLoc }}: {{ publisher }}</p>
      <button type="button" class="btn btn-primary" (click)="retry()">Cite another source.</button>
    </div>
    <div [hidden]="!_chicago">
      <h2>Chicago Style:</h2>
      <p>{{ authorLastName }}, {{ authorFirstName }}. <i>{{ sourceTitle }}.</i> {{ pubLoc }}: {{ publisher }}, {{ pubDate }}.</p>
      <button type="button" class="btn btn-primary" (click)="retry()">Cite another source.</button>
    </div>
  </div>
</div>